*{
    scroll-behavior: smooth; 
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
    scroll-padding-top: 2rem;
    }
    
    body{
    background-color:#F5F3F4 ;
    
    }
    .header{
        color:#161A1D ; 
    background-color:#F5F3F4;
    width:100% ;
    top: 0; 
    right: 0; 
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px ;
    height: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: o.5s;
    }
    
    .left{
    
        padding: 10px 25px ;
        display: flex; 
        align-items: center;
        margin: 15px;
        
        
       }
       
       .navigation a{
           color: #99D3D3ff;
           font-size: 1.5em;
           margin: 15px;
           padding-left: 30px;
          padding-bottom: 20px 0px;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        }
        
        .navigation a:hover{
            color: #5390d9;
        }
        
    .text-box{
    margin-top: 210px;
    
    
    }
    .text-box h1{
     font-size: 4.0rem; 
     color:#99D3D3ff ; 
     margin-bottom: 30px;
     margin-right: 70px; 
    
    }
    .text-box p{
    color: #2b2c28;
    font-size:1.5rem ;
    margin-right: 70px;
    
    }
    .user-box{
       width: 550px;
        position: absolute;
        top: 110px;
        left: 0;
        size: 50%;
       
    }
    .banner{
    max-height: 100vh;
    max-width: 100vh; 
    align-items: center;
    margin-bottom: 10rem; 
    
    }
    .banner h1{
        font-size:70px;
        width:0ch;
        white-space: nowrap;
        overflow: hidden;
        animation:text 6s steps(20) infinite;
        
    }
    
    @keyframes text{
        0%{
            width:0ch;
        }
        50%{
            width:19ch;
        }
    }
  
    
    .cards{
        padding:100px 0 ;
    
    }
    .max-width{
    
     max-width: 1300px;
     padding: 0 45px; 
     margin: auto;  
    }
    .max-width h2{
     text-align: center;
     position: relative; 
     color:#99D3D3ff  ;
     font-size: 50px;
     margin-bottom: 60px;
     padding-bottom: 20px;  
    }
    .max-width h2::after{
        content: '';
        position: absolute;
        width: 180px;
        height: 3px;
        bottom: 0;
        background:#99D3D3ff ;
        left: 50%;
        transform: translateX(-50%);
    }
   
    
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
     padding: 50px 25px; 
     width: calc(26%-20px);
     border-radius: 6px;
    background:rgb(199, 221, 221);
     text-align: center;
     user-select: none;
     font-size: 25px;
     cursor: pointer;
     transition: all 0.3s ease;
    }
    .card:hover{
    background-color:#99D3D3ff ;
    
    }
    .box{
     transition: all 0.3s ease;   
    }
    .card:hover .box{
        transform: scale(1.05);
    }

    /**الأقسام**/
