*{
    scroll-behavior: smooth; 
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
    scroll-padding-top: 2rem;
    }
    
    body{
    background-color:#99D3D3ff ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    
    }
   
      
        .header{
            color:#161A1D ; 
        background-color:#F5F3F4;
        width:100% ;
        top: 0; 
        right: 0; 
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px ;
        height: 50px;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: o.5s;
        }
        
        .left{
        
            padding: 10px 25px ;
            display: flex; 
            align-items: center;
            margin: 15px;
            
            
           }
           
           .navigation a{
               color: #99D3D3ff;
               font-size: 1.5em;
               margin: 15px;
               padding-left: 30px;
              padding-bottom: 20px 0px;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            }
            
            .navigation a:hover{
                color: #5390d9;
            }
            .about-container{
                width: 85%;
                min-height: 80vh;
                position: absolute;
                justify-content: center;
                align-items: center;
                display: flex;
                background-color: #F5F3F4;
                margin-top: 30px;
                padding: 20px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            }
.img-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
            .img-container img{
                width: 500px;
                height: 500px;
            }
            .text-container{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .text-container h1{
            font-size: 50px;  
            color:#99D3D3ff ;  
            padding: 10px 0px;
            }
            .text-container p{
                font-size: 22px;
                padding: 10px 0px;
            }
            .text-container a{
                padding: 12px;
            }