*{
    scroll-behavior : smooth; 
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
    scroll-padding-top: 2rem;
    }
    
    body{
    background-color:#99D3D3ff;
    
    }
    .header{
        color:#161A1D ; 
    background-color:#F5F3F4;
    width:100% ;
    top: 0; 
    right: 0; 
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px ;
    height: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: o.5s;
    }
    
    .left{
    
        padding: 10px 25px ;
        display: flex; 
        align-items: center;
        margin: 15px;
        
        
       }
       
       .navigation a{
           color: #99D3D3ff;
           font-size: 1.5em;
           margin: 15px;
           padding-left: 30px;
          padding-bottom: 20px 0px;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        }
        
        .navigation a:hover{
            color: #5390d9;
        }

        /**contact us**/
        .main{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

        }
        .container{
            width: 80%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            background-color: #F5F3F4;
            margin-top: 50px;
        }
        .container .image{
            width: 50%;
            height: 100vh;
            display: flex;
            align-items: center;
            position: relative;

        }
        .container .image::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;

        }

        .container .image img{
            margin-right: 90px;
            height: 400px;
           z-index: 1;
           animation-name: flo;
           animation-duration: 5s;
           animation-iteration-count: infinite;
        }
        @keyframes flo{
            50%{
              transform: translateY(15px);
            }
          }
        .container .form-area{
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-right: 70px;
           
        }
        .container .form-area h2{
            font-size: 30px;
        }
        .container .form-area form{
            width: 60%;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
        .container .form-area form input{
           padding: 15px 5px; 
           margin-bottom: 10px;
           border: none;
           background-color: #F5F3F4;
           border-bottom: 1px solid #ddd;
           outline: none;

        }
        .container .form-area form input ::placeholder{
            color: #999;
            letter-spacing: 1px;
        }
        .container .form-area form input:hover::placeholder,
        .container .form-area form textarea:hover::placeholder{
padding-right: 20px;
transition: 0.3s all ease-in-out;
        }
        .container .form-area form input:focus,
        .container .form-area form textarea:focus{
       border-bottom: 1px solid #99D3D3ff;
       animation: border 0.5s ease;
        }
        @keyframes border{
            0%{
                width: 0%;
            }
            100%{
                width: 100%;
            }
        }
        .container .form-area form textarea{
            border: none;
            background-color: #F5F3F4;
            border-bottom: 1px solid #ddd;
            outline: none;
            resize: none;
            padding: 0px 5px;
        }
        .container .form-area form textarea::placeholder{
            font-size: 14px;
            color: #999;
        }
        .container .form-area form button{
margin-top: 10px;
border: none;
padding: 10px 0px;
border-radius: 30px;
background-color: #99D3D3ff;
color: #F5F3F4;
font-size: 17px;
cursor: pointer;
transition: 0.3s all ease-in-out;
        }
        .container .form-area form button:hover{
            background-color: rgb(109, 194, 194);
        }
        .container .form-area .social-icons{
            margin-top: 40px;
            display: flex;
        }
        .container .form-area .social-icons i{
            margin-right: 10px;
            padding: 10px;
            cursor: pointer;
            font-size: 25px;
            transition: 0.5s;
        }
        .container .form-area .social-icons i:hover{
            transform: translateY(-10px);
          }

        



